
@import "../bower_components/normalize-css/normalize.css";
@import "../bower_components/typeplate-starter-kit/css/typeplate.css";

/**
 * BOX-SIZING
 */

*,
*:before,
*:after {
    box-sizing: border-box;
    transition-delay: 0s;
    transition-duration: 0.25s;
    transition-property: opacity, transform, color, background-color, border-color, z-index, background-image;
    transition-timing-function: ease;
}

/**
 * GRIDS
 */

.grid {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: stretch;
    flex-wrap: wrap;
    > * {
        flex: 1;
        flex-basis: 100%;
    }
}

@define-mixin grid_r $col, $width {
    @media only screen and (min-width: $(width)px) {
        .grid-$(col)-$(width) {
            & > * {
                flex-basis: calc(100 / $col)%;
            }
            @mixin-content;
        }
    }
}

@define-mixin grid $col {
    .grid-$(col) {
        & > * {
            flex-basis: calc(100 / $col)%;
        }
        @mixin-content;
    }
}

@mixin grid 2 {}
@mixin grid 4 {}
@mixin grid 6 {}

@mixin grid_r 2, 400 {}
@mixin grid_r 2, 800 {}

@mixin grid_r 4, 400 {}
@mixin grid_r 4, 800 {}

/**
 * GENERAL
 */

img {
    max-width: 100%;
}
/**
 * YOUR CODE HERE
 */

.container {
    & > *:nth-child(2) {padding-top: 11rem;}
}

.menu {
    background-color: black;
    padding: 2rem;
    top:2rem;
    left:2rem;
    right:2rem;
    position: fixed;
    color: white;
}

section {
    min-height: 100vh;
    background-color: purple;
    color: white;
    position: relative;
    z-index: 1;
    &:nth-of-type(1) {
        background-image: url(https://images.unsplash.com/photo-1438755582627-221038b62986?q=80&fm=jpg&s=ce1a984f1ac11887a5d5569ebbce53fb);
        background-size: cover;
        background-position: center;
    }
    &:nth-of-type(2) {
        background: green;
        position: relative;
        overflow: hidden;
        z-index: 0;
        h1 {
            position: fixed;
            top:50%;
            left:50%;
        }
    }
}




