
@import "../bower_components/normalize-css/normalize.css";
@import "../bower_components/typeplate-starter-kit/css/typeplate.css";
@import "../node_modules/bootstrap/dist/css/bootstrap.css";

/**
 * BOX-SIZING
 */

*,
*:before,
*:after {
    box-sizing: border-box;
    transition-delay: 0s;
    transition-duration: 0.25s;
    transition-property: opacity, transform, color, background-color, border-color, z-index, background-image;
    transition-timing-function: ease;

    /*OUTLINES ELEMENT WITH RED BORDER*/
    /*outline: 1px solid rgba(200,0,0,.15);
    transition: all .1s;
*/}


/*OUTLINES ELEMENT WITH RED BORDER ON HOVER*/
/**:hover{
  outline: 2px solid rgba(200,0,0,.15);
}*/

/**
 * GRIDS
 */

.grid {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: stretch;
    flex-wrap: wrap;
    > * {
        flex: 1;
        flex-basis: 100%;
    }
}

@define-mixin grid_r $col, $width {
    @media only screen and (min-width: $(width)px) {
        .grid-$(col)-$(width) {
            & > * {
                flex-basis: calc(100 / $col)%;
            }
            @mixin-content;
        }
    }
}

@define-mixin grid $col {
    .grid-$(col) {
        & > * {
            flex-basis: calc(100 / $col)%;
        }
        @mixin-content;
    }
}

@mixin grid 2 {}
@mixin grid 4 {}
@mixin grid 6 {}

@mixin grid_r 2, 400 {}
@mixin grid_r 2, 800 {}

@mixin grid_r 4, 400 {}
@mixin grid_r 4, 800 {}

/**
 * GENERAL
 */

img {
    max-width: 100%;
}
/**
 * YOUR CODE HERE
 */


#searchView{

    #inputSearch{
        border: 0px;
        float: none;
        margin: 0 auto;
        width: 70%;
    }

    #loginOwnerButton{
        float: right;
    }

    .searchResults{

        border: 0px solid white;

        #tableView{
            border: 0px;
            width: 80%;
            margin: 0 auto;
        }      
    }

    #siteHeader{
        padding-top: 109px;
        text-align: center;

    }
}

    


.form-signin{

    margin: 0 auto;
    margin-top: 150px;

    
    .form-signin-heading{
        /*margin: 0 auto;*/
        text-align: center;
    }


    .input-group{

        margin: 0 auto;

        .loginOwnerInputs{
            /*width: 30%;*/
            margin-bottom: 5px;
        }
    }    
}

#ownerView{
    .ownerLogOut{
        float: right;
        background-color: lightblue;
    }

    #ownerUpload{
        text-align: center;
    }
}